WinApp/Connected Services/API/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/KadetServiceProject/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KadetServiceProject" />
  <xs:element name="DodajPracownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KadetServiceProject" minOccurs="0" name="pracownik" nillable="true" type="q1:Pracownik" />
        <xs:element minOccurs="0" name="haslo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajPracownikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KadetServiceProject" minOccurs="0" name="DodajPracownikaResult" nillable="true" type="q2:Pracownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModyfikujPracownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KadetServiceProject" minOccurs="0" name="pracownik" nillable="true" type="q3:Pracownik" />
        <xs:element minOccurs="0" name="pesel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModyfikujPracownikaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunPracownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsunPracownikaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WyszukajPracownika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fraza" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WyszukajPracownikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KadetServiceProject" minOccurs="0" name="WyszukajPracownikaResult" nillable="true" type="q4:ArrayOfPracownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>