WinApp/Connected Services/API/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KadetServiceProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KadetServiceProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pracownik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pesel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pracownik" nillable="true" type="tns:Pracownik" />
  <xs:complexType name="ArrayOfPracownik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pracownik" nillable="true" type="tns:Pracownik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracownik" nillable="true" type="tns:ArrayOfPracownik" />
</xs:schema>