WinApp/Connected Services/API/KadryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="KadryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/KadetServiceProject/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/KadetServiceProject/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/KadetServiceProject/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KadetServiceProject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKadryService_DodajPracownika_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajPracownika" />
  </wsdl:message>
  <wsdl:message name="IKadryService_DodajPracownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajPracownikaResponse" />
  </wsdl:message>
  <wsdl:message name="IKadryService_ModyfikujPracownika_InputMessage">
    <wsdl:part name="parameters" element="tns:ModyfikujPracownika" />
  </wsdl:message>
  <wsdl:message name="IKadryService_ModyfikujPracownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModyfikujPracownikaResponse" />
  </wsdl:message>
  <wsdl:message name="IKadryService_UsunPracownika_InputMessage">
    <wsdl:part name="parameters" element="tns:UsunPracownika" />
  </wsdl:message>
  <wsdl:message name="IKadryService_UsunPracownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsunPracownikaResponse" />
  </wsdl:message>
  <wsdl:message name="IKadryService_WyszukajPracownika_InputMessage">
    <wsdl:part name="parameters" element="tns:WyszukajPracownika" />
  </wsdl:message>
  <wsdl:message name="IKadryService_WyszukajPracownika_OutputMessage">
    <wsdl:part name="parameters" element="tns:WyszukajPracownikaResponse" />
  </wsdl:message>
  <wsdl:portType name="IKadryService">
    <wsdl:operation name="DodajPracownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IKadryService/DodajPracownika" message="tns:IKadryService_DodajPracownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKadryService/DodajPracownikaResponse" message="tns:IKadryService_DodajPracownika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModyfikujPracownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IKadryService/ModyfikujPracownika" message="tns:IKadryService_ModyfikujPracownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKadryService/ModyfikujPracownikaResponse" message="tns:IKadryService_ModyfikujPracownika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsunPracownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IKadryService/UsunPracownika" message="tns:IKadryService_UsunPracownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKadryService/UsunPracownikaResponse" message="tns:IKadryService_UsunPracownika_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WyszukajPracownika">
      <wsdl:input wsaw:Action="http://tempuri.org/IKadryService/WyszukajPracownika" message="tns:IKadryService_WyszukajPracownika_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKadryService/WyszukajPracownikaResponse" message="tns:IKadryService_WyszukajPracownika_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKadryService" type="tns:IKadryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DodajPracownika">
      <soap:operation soapAction="http://tempuri.org/IKadryService/DodajPracownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModyfikujPracownika">
      <soap:operation soapAction="http://tempuri.org/IKadryService/ModyfikujPracownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsunPracownika">
      <soap:operation soapAction="http://tempuri.org/IKadryService/UsunPracownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WyszukajPracownika">
      <soap:operation soapAction="http://tempuri.org/IKadryService/WyszukajPracownika" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KadryService">
    <wsdl:port name="BasicHttpBinding_IKadryService" binding="tns:BasicHttpBinding_IKadryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/KadetServiceProject/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>